In [3]:
can="soda"

You do not have to print it for jupyter to print the variable, you just need to type the variable name

In [4]:
can

'soda'

You can use the type() command to get the type of the variable

In [5]:
type(can)

str

In [6]:
pizza=100
samosa=20.5
ice_cream=24.4
total = pizza + samosa + ice_cream
total

144.9

When using conditional statements, the variable becomes a boolean statement that says either that the condition is true or false

In [7]:
budget = total > 150
budget

False

The ID of the two variables will be the same as long as the values are the same, but when one of them is changed the id will also change

In [9]:
sport = "basketball"
basketball = sport
sport = "tennis"
basketball

'basketball'

In [10]:
id(sport)

4625892336

In [11]:
id(basketball)

4622613552

Naming Conventions: When naming variables, you cannot use restricted names like True or def.
Also, you cannot use special characters like @ or $.
The variable name must start with a number or an underscore